{{!-- {{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="home main-header {{#if feature_image}}" style="background-image: url({{img_url feature_image}}){{else}}no-cover{{/if}}">

    <div class="vertical">
        <div class="main-header-content inner">
            <header class="post-header">
              <h1 class="page-title"><a href="{{url}}">{{{title}}}</a></h1>
            </header>

            <section class="post-excerpt">
              <h2 class="page-description">
                {{#if meta_description}}
                  {{{meta_description}}}
                {{else}}
                  {{excerpt words="19"}}
                {{/if}}
                <a class="read-more" href="{{url}}">&raquo;</a></h2>
          </section>
          <footer class="page-meta">
              {{authors}}
              {{tags prefix=" on "}}
              <time class="post-date padded-meta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          </footer>
        </div>
    </div>
    {{!-- <a class="scroll-down" href="#content" data-offset="-45"><i class="fa fa-arrow-left"></i><span class="hidden"> Scroll Down</span></a> --}}
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
