{{!< default}}

{{> index-meta}}

<header class="animated blog-cover fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>

{{#foreach posts}}

    <div class="sample animated fadeIn">
        <div class="container">
            <div class="title animated fadeInUp">
                <a href="{{url}}">
                    <h1>{{title}}</h1>
                    {{#if image}}
                    <img src="{{image}}" alt="{{{title}}}" class="post-image"></img>
                    {{/if}}
                </a>
            </div>
            {{> sidebar}}
        </div>
    </div>

    <article class="excerpt animated fadeIn {{post_class}}">
        <div class="container">
            <p>{{excerpt words="100"}}&hellip;</p>
        </div>
    </article>

{{/foreach}}

{{pagination}}
